* {
  box-sizing: border-box;
}

body {
  margin:0;
  background-color: white;
  font-family:"Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, sans-serif;

}

#main {
  min-height: calc(100%);
  background: white;
  position: absolute;
  width: 100%;
}

h1 {
  border-bottom: 1px solid #333;
  font-size: 30px;
  padding: 15px;
}

.event-container {
  padding: 10px;
  border: 1px solid black;
}

#event-wrap {
  padding: 5px 15px 5px 15px;
}

.event-name {
  font-weight:bold;
  font-size: 18px;
  width: 70%;

}

.event-time {
  font-size: 12px;
  width: 30%;
}

#footer {
  position: fixed;
  bottom: 0px;
  height: 60px;
  border-top: 1px solid black;
  width: 100%;
  overflow: hidden;
  text-align: center;
}

/* navigation hover effect and style */
nav a:link{
    width: 30%;
    text-align: center;
    text-transform:uppercase;
    display:inline-block;
    color:#80C0E8;
    transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out; /*this works in firefox*/
    -webkit-transition: all 0.2s ease-in-out; /*this works in chrome*/
    padding:15px 50px 0px 50px;
    letter-spacing:2px;
	border:2px solid transparent;
}


nav a:visited {
    color:#8FCADF;
}

nav a:hover {
	color: white;
    transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out; /*this works in firefox*/
    -webkit-transition: all 0.2s ease-in-out; /*this works in chrome*/
}
