* {
  box-sizing: border-box;
}

body {
  margin:0;
  background-color: white;
  font-family:ProximaNova-Black,"Helvetica Neue",Helvetica,Arial,sans-serif;

}

#header h1 {
    color:#89D458;
}

#header {
  background-color: #333;
  position: absolute;
  width:100%;
  background-image:;
  height: 30%;
  font-size: 30px;
  text-align: center;
}

#main {
  top: 30%;
  position: absolute;
  height: 70%;
  width: 100%;
  padding: 30px;
}

.stubutton {
  padding: 40px;
  margin-top: 20px;
  background-color: white;
  background-image:url(../images/student.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: calc(50% - 30px);
  z-index: 1px;
  text-align: center;

}


a, a:visited, a:active{
  color: white;
  text-decoration: none;
  font-weight: bold;
  letter-spacing: 2px;
  font-size: 25px;
  text-transform: uppercase;
}

.socbutton {
  padding: 40px;
  margin-top: 20px;
  text-align: center;
  background-image:url(../images/society.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: white;
  height: calc(50% - 30px);
}
