<!DOCTYPE html>
<html>
<!-- API KEY ->>>  AIzaSyDkKrHTT3Vnc677iZcN52t2Lis6ynNxN0Q  -->
    <p><button onclick="geoFindMe()">Show my location</button></p>

    <div id="out"></div>


    <!--iframe
        width="600"
        height="450"
        frameborder="0" style="border:0"
        src="https://maps.googleapis.com/maps/api/staticmap?center=" + latitude + "," + longitude + "&zoom=13&size=300x300&sensor=false"
        allowfullscreen>

    
        <a href="https://gps-coordinates.org/my-location.php?lat=-33.919795199999996&lng=151.22841599999998" target="_blank">(-33.919795199999996,151.22841599999998)</a>

    </iframe-->




    <script src="static/javascript_api.js"></script>
</html>

<!--
<script type="text/javascript">

function genMaps() { 
    var lat  = ;
    var long = ...;
    document.getElementByID('mapPane')
            .appendChild("<iframe " + lat + long + "></iframe>")
}    

</script>
-->
